@charset "UTF-8";

@media (min-width: 1200px)
{
   html, body
   {
       margin: 0;
       padding: 0;
       height: 100%;
    }
}

/* 컨테이너 구성 */
.container-cgd 
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* width: 600px; */      /* 합칠 때 빼고 600px 로 두고 보기 */
   margin:0 auto;
   border-radius: 20px;
   border: none;
   padding: 15px;
   /* background: #E0FBF7; */
   font-size: 15px;
}

/* item 구성 */
.item-cgd 
{
   padding: 15px;
}

/* item 중 table 있는 아이템 */
.item-cgd> .item-table
{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* 사진 옆으로 넘기기 밑작업 */
.image-cgd
{
   overflow:hidden;
}

/* 넘어가는 사진들 박스에 담기 */
.image-box
{
    width: 100%;
    height: 330px;
    overflow: hidden;   /*  */
    margin: 0 auto;
}

/* 사진들 겹치기 */
.image-thumbnail
{
    width:100%;
    height:100%;
    object-fit:cover;
}

.campgroundInfoValue
{
   font-size: 20px;
   padding: 5px;
   padding-left: 20px;
}

.campgroundInfoTitle
{
   width : 180px;
   padding : 5px;
   text-align: center;
   color: black;
   background-color: rgba(255,208,58,0.8);
   border-radius: 5px;
   font-size: 18px;
   
}

.pickAndreview
{
   font-size: 15px;
    background-color: rgba(255,208,50,0.7);
    display:inline-block;
    border-radius: 3px;
    padding-right: 5px;
    padding-left: 5px;
}
 
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: rgba(255,208,50,0.7);
    border-radius: 10px;
}


/* 예약, 설문리뷰 버튼 */
button.btn0
{
   width: 130px;
   height: 50px;
   font-size: 15px;
   border-radius: 15px;
   border: none;
   background-color: rgba(69,129,142,0.7);
   padding: 5px;
   margin-left: 100px;
   margin-right: 100px; 
   
}

.btn0:hover
{
   color: white;
   background-color: #45818E;
}

/* 공유하기, 픽하기 버튼 */
.top> .btn1
{
   float: right;
   margin-left: 30px;
   border: none;
   border-radius: 40px;
   padding: 5px;
   width: 100px;
   background-color: #e6e7ea;
}

.top> .btn1:hover
{
   color: white;
   background-color: #969aa7;
}

.textbox
{
   width: 80px;
}

.errMsg
{
   color: red;
   font-size: 15px;
}


/*===== 캠핑장 객실 div =====*/
#main 
{
   width: 90%;
   padding-top : 30px;   
   border-radius: 7px;;        
   background: #ffffff;
   margin: 0 auto;
   height: 100%;
   text-align:left;
   border: 1px solid black;
   
}

section 
{
   display: none;
   width: 100%;
}

input.tab 
{
   display: none;
}

label 
{
   display: inline-block;
   padding: 15px 25px;
   font-weight: 600;
   color: #bbb;
   border: 1px solid transparent;
}

label:hover 
{
   color: #2e9cdf;
   cursor: pointer;
}

/*input 클릭시, label 스타일*/
input.tab:checked + label 
{
   color: #555;
   border: 1px solid #ddd;
   border: 2px solid #45818E;
}

#content1, #content2, #content3, #content4, #content5
{
   display: none;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5
{
   display: block;
}

.roominfo
{
   width: 98%;
}


/*======= 리뷰 =======*/


.btn2
{
   float: right;
   border: 0;
   background-color:transparent;   /* 배경색 투명 */
   font-size: x-small;
}

/* 캠퍼 리뷰 */
.review-space
{
   padding: 5px; 
   margin-top: 3px; 
   margin-bottom: 3px;
}

.review-content
{
   height: 60px; 
   font-size: small; 
   border: 1px solid gray;
   resize: none;
}

.review-content:focus
{
   outline: none;
}


/* 파트너 답글 */
.reply-space
{
   padding: 5px; 
   margin-bottom: 3px;
}

.reply-content
{
   height: 45px; 
   font-size: small; 
   border: 1px solid gray; 
   border-radius: 20px;
   resize: none;
}

.reply-content:focus
{
   outline: none;
}

.pageBtn:hover
{
   font-weight: bold;
   cursor: pointer;
}


/* 리뷰 차트 */
.chartArea
{
   width: 80%;
   text-align: center;
   margin-bottom: 15px;
   
}


/* 차트 양쪽 그라디언트 제거 */
.carousel-control.left, .carousel-control.right 
{
    background-image: none !important;
}

.carousel-control 
{ 
   background: none !important;
   filter: none !important; progid:none !important;
   margin-right: -30px;
   margin-left: -30px;
}


 
 
 
 
 
 
 