@charset "UTF-8";

.id_find
{
	text-align: center;
	border: 1px solid #999;
}

.id_find h1
{
	font-size: 15px;
	line-height: 30px;
	font-weight: 500;
}

.id_find h2
{
	font-size: 11px;
	font-weight: 500;
	line-height: 14px;
	color: #999;
}

.id_find strong
{
	display: inline-block;
	width: 80px;
	font-weight: normal;
	text-align: left;
	line-height: 30px;
	padding-left: 3px;
}

legend
{
	display: none;
}


.idField
{
	border: none;
	width: 340px;
	margin: 0 auto;
}

.idField ul
{
	padding-left: 0;
}

.idField li
{
	list-style: none;
	border-bottom: 1px solid;
	width: 340px;
}

.cName
, .pName
{
	border-top: 1px solid;
}

input[type=radio]
{
	width: 13px;
	height: 13px;
	margin: 0 3px 0 0;
	padding: 0;
	border: 0;
}

.button
{
	list-style: none;
	margin: 0 auto;
}

.cName input
, .pName input
, .cPhone input
, .pPhone input 
{
	width: 170px;
	height: 30px;
    padding: 0;
    margin: 0;
    line-height: 30px;
    border: 0px;
    background: none;
}