@charset "UTF-8";

.id_find
, .pw_find
, .pw_reset
{
	border: 1px solid #ccc;
	width: 90%;
	padding: 30px 0;
	margin: 50px auto;
}

#idFrm
, #pwFrm
{
	margin: 0 auto;
}

.id_find h1
, .pw_find h1
, .pw_reset h1
{
	font-size: 15px;
	line-height: 30px;
	font-weight: 500;
	text-align: center;
	margin: 0 auto;
}

.id_find h2
, .pw_find h2
, .pw_reset h2
{
	font-size: 11px;
	font-weight: 500;
	line-height: 14px;
	color: #999;
	margin-bottom: 40px;
	text-align: center;
}

.id_find strong
, .pw_find strong
, .pw_reset strong
{
	display: inline-block;
	width: 90px;
	font-weight: normal;
	text-align: left;
	line-height: 30px;
	padding-left: 10px;
}

.pw_reset strong
{
	width: 110px;
}

.leg
{
	display: none;
}

fieldset ul
{
	padding-left: 0;
}

.li_idsel
, .idCField li
, .idPField li
, .pwCField li
, .pwPField li
{
	list-style: none;
	border-bottom: 1px solid;
	width: 400px;
	margin: 0 auto;
}

.idField li
{
	list-style: none;
	width: 400px;
	margin: 0 auto;
}

.cerNum
{
	margin-left: 5px;
}

.id_btn
{
	list-style: none;
	margin: 20px 0;
}

.cBtn
, .pBtn
, .login_btn
, .sign_btn
, .update_pw
{
	width: 400px;
}

.li_name input
, .li_phone input
, .li_num input
, .li_id input
, .li_pw input
, .li_rePw input
{
	width: 190px;
	height: 30px;
    padding: 0;
    margin: 0;
    line-height: 30px;
    border: 0px;
    background: none;
}