@charset "UTF-8";
.partnerOkContainer
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows:1fr 1fr 1fr 1fr 1fr;
	align-items:center;
	text-align: center;
	margin:0 auto;
	height: 100vh;
	width:80%;
}
.arrow
{
	width: 30%;
	height: 30%;
}
.partnerOkItem:nth-child(1)/* 승인현황 */
{
	grid-column: 1/2;
	grid-row:2/3;

}
.partnerOkItem:nth-child(2) /* 설명 */
{
	grid-column:2/6;
	grid-row:2/3;
	
}
.partnerOkItem > p 
{
	color: red;
	font-size: 20px;
}
.partnerOkItem:nth-child(3) /*임시회원*/
{
	grid-coulumn:1/2;
	grid-row: 3/4;
	
}
.partnerOkItem > span
{
    font-size: 30px;
	background-color: #ff2a1b;	
	border-radius: 70%;
    
}
.partnerOkItem:nth-child(4) /*화살표*/
{
	grid-coulumn:2/3;
	grid-row: 3/4;
}
.partnerOkItem2:nth-child(5) /*서류첨부동글*/
{
	grid-coulumn:3/4;
	grid-row: 3/4;
}
.partnerOkItem2 > span
{    
    font-size: 30px;
	background-color: #bdbebd;	
	border-radius: 70%;
    
} 
.partnerOkItem:nth-child(6) /*화살표*/
{
	grid-coulumn:4/5;
	grid-row: 3/4;
}
.partnerOkItem:nth-child(7) /*승인반려*/
{
	grid-coulumn:5/6;
	grid-row: 3/4;
}
.partnerOkItem > span
{
	font-size: 30px;
	background-color: #ff2a1b;	
	border-radius: 70%;
    
}  
.partnerOkItem2:nth-child(8) /*업로드*/
{
    grid-column: 2/5;
	grid-row: 4/5;
	background-color: #bdbebd;
	align-items:center;
	height:45%
}
.partnerOkItem2 > p
{
	font-size: 13px;
	color: black;
}
.partnerOkItem:nth-child(9) /* 버튼 */
{
	grid-column: 4/5;
	grid-row: 4/5;
	align-items: 
	
}
.partnerOkItem2:nth-child(10) /* 회원님 안녕! */
{
	grid-column: 2/5;
	grid-row: 5/6;
	background-color: #bdbebd;
	font-size: 20px;
	align-items:center;
	height:40%

}
.partnerOkItem2 > p
{
	font-size: 10px;
	color: black;
}


