@charset "UTF-8";

@media (min-width: 1200px)
{
	html, body
	{
	    margin: 0;
    	padding: 0;
    	height: 100%;
    }
}

.PartnerMain
{
	width: 1080px;
	display: grid;
	grid-template-columns: 260px 800px;
	grid-template-rows: 110px repeat(auto-fill, minmax(0%, auto));
	grid-gap: 10px;
	margin: 0 auto;
	/* background-color: gray; */
}


.partnerItem:nth-child(1) 	/* TopMenu */
{
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	justify-self: end;
	align-self: flex-end; 
	
}

.partnerItem:nth-child(2) /* Logo */ 
{
	grid-column: 1 / 2;
	grid-row: 1 / 2;	
	margin: 5px;
	margin-top: 60px;
}

.partnerItem:nth-child(3) /* 내용 영역 */
{
	grid-column: 1 / 3;
	grid-row: 2/ 3;
	display: flex;
	flex-direction : row;
	justify-content : center;
	align-self: center;
	padding: 5px;
}

.partnerMainButton
{
	width : 20%;
	margin : 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn
{
	width: 300px;
}

#mainLogo > img
{ 
	width: 234px;
	object-fit: cover; 
}

.buttonName
{
	font-weight: bold; 
	font-size: 18px;
	color: #000;
}

.btn
{
	background-color: white;
	border: 1px solid #000;
}

.btn:hover, .btn:active, .btn-warning:focus, .btn-warning:active
{
	background-color: white;
	border-color: #FFD700;
}

.btn:hover .buttonName
, .btn:active .buttonName
{
	color: #FFD700;
}